{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'Teacher/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'Teacher/css/login.css' %}">
	<title>Document</title>
</head>
<body>

<h1 class="alert alert-danger text-center my-5 container">
	Your Account Has Been Locked
	<p class="fs-6 text-dark">You can't log in because you are drop out from branch further details plese visit or contact your brach</p>
</h1>

<div class="container">
	<div class="row d-flex justify-content-center">
		<img src="{% static 'Teacher/images/6833333.jpg' %}" alt="" class="w-25 ">
	</div>
</div>


<script src="{% static 'Teacher/js/jquery.js' %}"></script>
<script src="{% static 'Teacher/js/popper.js' %}"></script>
<script src="{% static 'Teacher/js/bootstrap.js' %}"></script>
<script src="{% static 'Teacher/js/script.js' %}"></script>	
</body>
</html>