{% extends "Teacher/base.html" %}

{% load static %}

{% block content %}



<h4 class="container mt-3 borderline pb-2 textcolor">Edit Profile</h4>



{% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="alert alert-{{ message.tags }} container"{% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}



<form action="" method="post" class="container formshadow formbgcolor p-2 mt-5" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="row mb-4">
        <div class="col-sm-6">
            {{fm1.username.label_tag}} {{fm1.username}} 
        </div>
        <div class="col-sm-6">
            {{fm1.email.label_tag}} {{fm1.email}} 
        </div>
    </div>

    

    <div class="row mb-4">
        <div class="col-sm-6">
            {{fm.student_name.label_tag}} {{fm.student_name}} 
        </div>
        <div class="col-sm-6">
            {{fm.student_id.label_tag}} {{fm.student_id}} 
        </div>
    </div>
    

    <div class="row mb-4">
        <div class="col-sm-6">
            {{fm.student_number.label_tag}} {{fm.student_number}} 
        </div>
        <div class="col-sm-6">
            {{fm.student_dob.label_tag}} {{fm.student_dob}} 
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-6">
            {{fm.student_gender.label_tag}} {{fm.student_gender}} 
        </div>
        <div class="col-sm-6">
            {{fm.student_image.label_tag}} {{fm.student_image}} 
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-12">
            {{fm.student_address.label_tag}} {{fm.student_address}} 
        </div>
    </div>
    

    <input type="submit" class="btn buttoncolor" value="Update">
</form>


{% endblock content %}